<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SPM Information Solutions | trixbox Pro&reg; India | vigilfax | fax server | asterisk{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/didms/css/demo.css') }}" />
        <script src="{{ asset('bundles/didms/js/jquery.js') }}" type="text/javascript"></script>
        <script>
                var timeout    = 500;
                var closetimer = 0;
                var ddmenuitem = 0;

                function jsddm_open()
                {  jsddm_canceltimer();
                   jsddm_close();
                   ddmenuitem = $(this).find('ul').css('visibility', 'visible');}

                function jsddm_close()
                {  if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

                function jsddm_timer()
                {  closetimer = window.setTimeout(jsddm_close, timeout);}

                function jsddm_canceltimer()
                {  if(closetimer)
                   {  window.clearTimeout(closetimer);
                      closetimer = null;}}

                $(document).ready(function()
                {  $('#jsddm > li').bind('mouseover', jsddm_open)
                   $('#jsddm > li').bind('mouseout',  jsddm_timer)});

                document.onclick = jsddm_close;
        </script>
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="http://www.spminfosol.com">
                    <img src="{{ asset('bundles/didms/images/logo.gif') }}" alt="SCM logo" style="width:250px;height:75px" />
                </a>
                <form id="symfony-search" method="GET" action="http://www.spminfosol.com/search">
                    <label for="symfony-search-field"><span>Search on SPM Website</span></label>
                    <input name="q" id="symfony-search-field" type="search" placeholder="Search on SPM website" class="medium_txt" />
                    <input type="submit" class="symfony-button-grey" value="OK" />
                </form>
            </div>            

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
              
                    {% endblock %}
                </ul>
                <div id="navigationbar1">
                    {% block navigationbar_more %}
                            <ul id="jsddm" >
                             <li><a href="#">Home</a></li>
                           <li><a href="#">Purchase DID</a>
                                <ul>
                                    <li><a href="#">Add New</a></li>
                                </ul>
                            </li>
                            <li><a href="#">DID in Stock</a>
                                <ul>
                                    <li><a href="#">List</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Carrier</a>
                                <ul>
                                    <li><a href="#">View/Search</a></li>
                                    <li><a href="#">Add</a></li>
                                    <li><a href="#">Add DID</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Customer</a>
                                <ul>
                                    <li><a href="{{ path('_customers') }}">List/View/Search</a></li>
                                    <li><a href="{{ path('_customer_add') }}">Add</a></li>
                                    <li><a href="#">DID Point</a></li>
                                </ul>
                            </li>
                             <li><a href="#">Users</a>
                                <ul>
                                    <li><a href="#">List/View/Search</a></li>
                                    <li><a href="#">Add</a></li>
                                </ul>
                            </li>    
                            <li><a href="#">Reports</a>
                                <ul>
                                    <li><a href="#">Calendar</a></li>
                                    <li><a href="#">World Map</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Help</a></li>
                        </ul>

                    {% endblock %}
                </div>    
                <div style="clear: both"></div>
            {% endblock %}

    
            {% for flashMessage in app.session.flashbag.get('notice') %}
          <table class="flash-message symfony-content" style="width:100%">
                <tr id="tblMessage" runat="server">
                <td colspan="3">
                    <table>
                        <tr>
                            <td style="width: 25px; vertical-align: middle; text-align: center">
                                <img ID="imgMessage"  src="/didms/web/bundles/didms/images/{{ app.session.flashbag.get('notice_type')[0] }}.png"  Height="28px" Width="28px" />
                            </td>
                            <td style="vertical-align: middle">
                                {{ flashMessage }}
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>         
            </table>
            {% endfor %}
        
            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>